{% extends 'places/layouts/default.html' %}
{% load static %}

{% block body %}

<article class="post">
  <div class="container container--sm container--primary container--rounded">
    <div class="post__inner">

      <div class="post__actions">
        <a href="{% url 'home' %}">Back</a>
        <a href="#" data-modal="share-modal">Share</a>
      </div>

      <div class="post__header post__header--preview">
        <img class="post__preview" src="{{ place.photo.url }}" alt="">
        <h1 class="post__title">{{ place.name }}</h1>
        <span>Address: {{ place.address }}</span>
      </div>

      <div class="post__content">
        {% autoescape off %}
          {{ place.description }}
        {% endautoescape %}
      </div><!-- /.post__content -->

      <!-- <div class="related">
        <h3 class="post__subtitle">Интересно почитать</h3>

        <ul class="related__list">

          <li class="related__list-item">
            <h4 class="related__list-title">
              <a href="#">Post 2</a>
            </h4>
          </li>

          <li class="related__list-item">
            <h4 class="related__list-title">
              <a href="#">Post 3</a>
            </h4>
          </li>

        </ul>

      </div>/.related -->

    </div>
  </div>
</article><!-- /.post -->

{% endblock body %}
