{% extends 'places/layouts/default.html' %}

{% block body %}

<div class="bg bg--hikes">
  <div class="container container--sm container--secondary container--rounded">
    <div class="page__title page__title--center">Sign in</div>

    <form class="form form--auth" method="post">
      {% csrf_token %}
      <div>{{ form.non_field_errors }}</div>
      
      {% for f in form %}
      
        <div class="form__group form__group--sm">
          {{ f }}
        </div>

      {% endfor %}

      <!-- <div class="form__group form__group--sm">
          <input class="form__input" type="password" placeholder="Password">
      </div> -->

      <div class="form__footer form__footer--center">
        
        <button class="btn btn--primary btn--sm" type="submit">Sign in</button>

        <ul class="form__footer-list">
          <li>
            <a href="{% url 'signup' %}">Sign up</a>
          </li>

          <!-- Return after reset function is made -->
          <!-- <li>
            <a href="{% url 'reset' %}">Forgot password?</a>
          </li> -->
        </ul>

      </div>
    </form>
  </div>
</div>

{% endblock body %}
