{% extends 'places/layouts/default.html' %}

{% block body %}

<div class="bg bg--hikes">
  <div class="container container--sm container--secondary container--rounded">

    <div class="page__title page__title--center">Sign up</div>

    <form class="form form--auth" method="post">
      {% csrf_token %}
      
      {% for f in form %}

        <div class="form__group form__group--sm">
          {{ f }}
        </div>
        <div class="form__errors">{{ f.errors }}</div>

      {% endfor %}

      <div class="form__footer form__footer--center">
        <button class="btn btn--primary btn--sm" type="submit">Sign up</button>

        <ul class="form__footer-list">
          <li>
            <a href="{% url 'signin' %}">Sign in</a>
          </li>
          <!-- Return after reset function is made -->
          <!-- <li>
            <a href="{% url 'reset' %}">Forgot password?</a>
          </li> -->
        </ul>

      </div>

    </form>

  </div>
</div>

{% endblock body %}
