{% load static %}

<div class="container">
  <div class="footer__inner">

    <div class="footer__description">

      <div class="footer__title">
        Follow our social medias
      </div>

      <div class="social">
        <ul class="social__list">

          <li class="social__item">
            <a class="social__link" href="#">
              <img class="social__icon" src="{% static 'places/images/social/instagram.png' %}" alt="">
            </a>
          </li>

          <li class="social__item">
            <a class="social__link" href="#">
              <img class="social__icon" src="{% static 'places/images/social/facebook.png' %}" alt="">
            </a>
          </li>

          <li class="social__item">
            <a class="social__link" href="#">
              <img class="social__icon" src="{% static 'places/images/social/twitter.png' %}" alt="">
            </a>
          </li>

          <li class="social__item">
            <a class="social__link" href="#">
              <img class="social__icon" src="{% static 'places/images/social/whatsapp.png' %}" alt="">
            </a>
          </li>

        </ul>
      </div>
    </div>

    <div class="footer__links">
      <div class="footer__section">

        <div class="footer__title">About</div>
        <ul class="footer__section__list">
          <li class="footer__list__item">History</li>
          <li class="footer__list__item">Our Team</li>
          <li class="footer__list__item">Brand Guidelines</li>
          <li class="footer__list__item">Terms and Condition</li>
          <li class="footer__list__item">Privacy Policy</li>
        </ul>

      </div>

      <div class="footer__section">

        <div class="footer__title">Services</div>
        <ul class="footer__section__list">
          <li class="footer__list__item">How to Order</li>
          <li class="footer__list__item">Our Product</li>
          <li class="footer__list__item">Order Status</li>
          <li class="footer__list__item">Promo</li>
          <li class="footer__list__item">Payment Method</li>
        </ul>

      </div>

      <div class="footer__section">

        <div class="footer__title">Other</div>
        <ul class="footer__section__list">
          <li class="footer__list__item">Contact Us</li>
          <li class="footer__list__item">Help</li>
          <li class="footer__list__item">Privacy</li>
        </ul>

      </div>

    </div><!-- /.footer__links -->

  </div><!-- /.footer__inner -->
</div><!-- /.container -->
